@import './../../styles/theme.scss';

.container-projects {
  /* -----------------------------------
  * --------------- Container projects
  ----------------------------------- */
  background-color: map-get(map-get($background, on-primary), 100);
  padding: 0;
  padding-bottom: 3rem;

  @media (min-width: 1024px) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(54,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23001D3D'/%3E%3Cstop offset='1' stop-color='%23003566'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(70,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23CCA000'/%3E%3Cstop offset='1' stop-color='%23F5CC00'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='4.949999999999999'%3E%3Cpath transform='translate(-90.3 1.5999999999999996) rotate(-4.1 1409 581) scale(0.9321240000000001)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.6500000000000001' transform='translate(-123 72) rotate(4.6000000000000005 800 450) scale(1.001677)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(10.400000000000002 -63) rotate(29 401 736) scale(1.001677)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1.5'%3E%3Cpath transform='translate(432 5.199999999999999) rotate(-1.2999999999999998 150 345) scale(0.994708)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='3.3000000000000003' transform='translate(-101 -197) rotate(14.400000000000006 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-241.6 62.4) rotate(2.400000000000002 1400 132) scale(0.83)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
    animation: rainLevitatingEffect 64s infinite alternate;
  }

  .container-cards {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .item-card {
      width: 40%;
      max-width: 600px;
      margin: 2rem 1rem;
      padding: 2rem;
      background-color: map-get(map-get($background, on-secondary), 100);
      border-bottom: 4px solid map-get(map-get($background, secondary), 100);

      @media (max-width: 1024px) {
        width: 84%;
        padding: 1rem;
      }

      .date {
        position: absolute;
        margin: -3.25rem 0 0 -1.75rem;
        font-family: 'Gilroy-SemiBold';
        color: map-get(map-get($text-color, on-primary), 50);
        font-size: 1rem;
        user-select: none;

        @media (max-width: 1024px) {
          margin: -2.25rem 0 0 -0.75rem;
        }
      }

      .container-tags {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
        user-select: none;

        .tag {
          margin: 0 0 0.5rem 0.5rem;
          transform: rotate(0) scale(1);
          transition: box-shadow 0.1s;

          &:hover {
            transform: rotate(8deg) scale(1.2);
            box-shadow: 0 0 11px
              map-get(map-get($background, on-secondary), 100);
            transition: box-shadow 0.05s;
            z-index: 1;
          }

          @media (max-width: 1024px) {
            margin: 0.25rem 0 0.75rem 0.5rem;
          }

          a {
            text-decoration: none;

            p {
              margin: 0;
              padding: 0.25rem;
              font-family: 'Gilroy-SemiBold';
              color: map-get(map-get($text-color, primary), 100);
            }
          }
        }
      }

      .container-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
          height: 100%;
          width: 1.75rem;
          object-fit: cover;
          user-select: none;
        }

        h3 {
          font-family: 'Gilroy-SemiBold';
          color: map-get(map-get($text-color, on-primary), 100);
          font-size: 1.5rem;
          margin: 0 0 0 0.25rem;
          text-shadow: 0 0 11px map-get(map-get($background, on-primary), 50);
        }
      }

      h4 {
        font-family: 'Gilroy-SemiBold';
        color: map-get(map-get($text-color, on-primary), 100);
        font-size: 1rem;
        margin: 0.5rem 0 1.5rem 0;
        text-shadow: 0 0 11px map-get(map-get($background, on-primary), 25);
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          font-family: 'Gilroy-regular';
          color: map-get(map-get($text-color, on-primary), 75);
          font-size: 1rem;
          margin: 0.75rem 0 0 0;
        }
      }

      .container-links-icons {
        margin: 1.5rem 0 0 0;
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: start;
        height: 3rem;
        user-select: none;

        @media (max-width: 1024px) {
          margin: 1rem 0 0 0;
        }

        a {
          margin: 0 2%;
          border: none;
          width: 2.5rem;
          height: 2.5rem;
          overflow: hidden;

          @media (max-width: 1024px) {
            margin: 0 4%;
            width: 2rem;
            height: 2rem;
          }

          img {
            width: 2.5rem;
            height: 2.5rem;
            transform: rotate(0) scale(1);
            transition: transform 0.4s;

            @media (max-width: 1024px) {
              width: 2rem;
              height: 2rem;
            }

            &:hover {
              transform: rotate(8deg) scale(1.2);
              transition: transform 0.2s;
            }
          }
        }
      }

      input {
        position: absolute;
        opacity: 0;
        z-index: -1;

        &:checked ~ .item-card-content {
          max-height: 64rem;
        }
      }
      .item-card-label {
        display: flex;
        font-family: 'Gilroy-SemiBold';
        color: map-get(map-get($text-color, on-primary), 100);
        font-size: 1rem;
        background: map-get(map-get($background, on-tertiary), 100);
        cursor: pointer;
        justify-content: space-between;
        padding: 1rem;
        user-select: none;

        &:after {
          content: '';
          background-image: url('../../assets/icons/arrow.svg');
          background-size: 48px 48px;
          background-repeat: no-repeat;
          background-position: center;
          color: map-get(map-get($text-color, on-secondary), 100);
          width: 1em;
          height: 1em;
          text-align: center;
          transform: rotate(-180deg);
          transition: all 0.4s;
        }
      }

      .item-card-content {
        max-height: 0;
        overflow: hidden;
        transition: all 0.4s;
        width: 100%;
      }
    }

    .item-card input:checked + .item-card-label::after {
      transform: rotate(0);
    }

    .container-image {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin: 1rem -2rem -2rem -2rem;
      user-select: none;

      @media (max-width: 1024px) {
        margin: 0 -1rem -1rem -1rem;
      }

      .mobile-image {
        height: 256px;
        transform: rotate(-12deg) scale(1.3) translate(0, 50px);
        object-fit: cover;
        z-index: 1;
        filter: grayscale(0.5);
        transition: transform 0.4s, box-shadow 0s, filter 0.4s;

        @media (max-width: 1024px) {
          transform: rotate(-8deg) scale(1.3) translate(10%, 50px);
        }

        @media (max-width: 500px) {
          display: none;
        }

        @media (min-width: 1300px) {
          &:hover {
            transform: rotate(0deg) scale(1) translate(1rem, 0);
            transition: transform 0.2s, box-shadow 0.4s, filter 0.2s;
            box-shadow: 0 0 11px map-get(map-get($background, on-primary), 100);
            filter: grayscale(0);
          }
        }
      }

      .desktop-image {
        height: 256px;
        transform: rotate(-12deg) scale(1.1) translate(0, 64px);
        object-fit: cover;
        margin-left: -0.5rem;
        transition: transform 0.4s, box-shadow 0s, filter 0.4s;
        filter: grayscale(0.5);

        @media (max-width: 1024px) {
          transform: rotate(-8deg) scale(1.2) translate(2rem, 50px);
        }

        @media (min-width: 1300px) {
          &:hover {
            transform: rotate(0deg) scale(1) translate(0, 0);
            z-index: 1;
            transition: transform 0.2s, box-shadow 0.4s, filter 0.2s;
            box-shadow: 0 0 11px map-get(map-get($background, on-primary), 100);
            filter: grayscale(0);
          }
        }
      }
    }
  }
}
