@import './../../styles/theme.scss';

.container-header-patch-notes-section {
  /* -----------------------------------
 * --------------- Container header
----------------------------------- */
  background-image: url(../../assets/backgrounds/bg_header_patch_notes.jpg);
  background-color: map-get(map-get($background, on-primary), 75);
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 1024px) {
    background-position: bottom;
  }

  .background {
    background-color: map-get(map-get($background, on-primary), 75);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid map-get(map-get($background, primary), 100);
    padding-bottom: 4rem;

    .container-social-icons {
      margin: 1rem 0 0 0;
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: start;
      height: 5rem;
      @media (max-width: 1024px) {
        margin: 1rem 0 0 0;
      }

      a {
        margin: 0 2%;
        border: none;
        width: 2.5rem;
        height: 2.5rem;
        background-color: map-get(map-get($background, on-tertiary), 100);
        box-shadow: 0 0 11px map-get(map-get($background, on-primary), 50);
        overflow: hidden;
        @media (max-width: 1024px) {
          margin: 0 4%;
          width: 2rem;
          height: 2rem;
        }
        &:hover {
          background-color: map-get(map-get($background, on-secondary), 100);
        }

        img {
          width: 2.5rem;
          height: 2.5rem;
          transform: rotate(0) scale(1);
          transition: transform 0.4s;
          @media (max-width: 1024px) {
            width: 2rem;
            height: 2rem;
          }

          &:hover {
            transform: rotate(8deg) scale(1.2);
            transition: transform 0.2s;
          }
        }
      }
    }

    h1 {
      font-family: 'Gilroy-SemiBold';
      color: map-get(map-get($text-color, on-primary), 100);
      text-align: center;
      font-size: 4rem;
      margin: 0 0 1rem 0;
      padding-top: 0.5rem;
      text-shadow: 0 0 11px map-get(map-get($background, on-primary), 100);
      border-top: 4px solid map-get(map-get($background, secondary), 100);
      @media (max-width: 1024px) {
        font-size: 2rem;
        margin: 2rem 0;
        padding-top: 1rem;
      }
    }

    p {
      color: map-get(map-get($text-color, on-primary), 75);
      text-align: center;
      font-family: 'Gilroy-SemiBold';
      margin: 0.5rem 1rem;
      font-size: 1rem;
      text-shadow: 0 0 11px map-get(map-get($background, on-primary), 100);
    }
  }
}
