/*
* For stop button animation
*/
@keyframes heart-effect {
  0% {
    color: #3330;
  }
  50% {
    color: #3338;
  }
  100% {
    color: #3330;
  }
}

/*
* For background profile image
*/
@keyframes levitating-effect {
  0% {
    background-position: 0 0; /* Début de l'animation, position initiale */
  }
  100% {
    background-position: 0 100%; /* Fin de l'animation, position levée */
  }
}
