/*
* Fonts
*/
//* Regular
@font-face {
  font-family: "Gilroy-Regular";
  src: url("./../assets/fonts/Gilroy-Regular.ttf") format("truetype");
}

//* RegularItalic
@font-face {
  font-family: "Gilroy-RegularItalic";
  src: url("./../assets/fonts/Gilroy-RegularItalic.ttf") format("truetype");
}

//* SemiBold
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("./../assets/fonts/Gilroy-SemiBold.ttf") format("truetype");
}

//* Bold
@font-face {
  font-family: "Gilroy-Bold";
  src: url("./../assets/fonts/Gilroy-Bold.ttf") format("truetype");
}
