@import './../../styles/theme.scss';

.container-header-section {
  /* -----------------------------------
 * --------------- Container header
----------------------------------- */

  min-height: 68vh;
  width: 100%;
  display: flex;
  background-image: url(../../assets/backgrounds/bg_header_about_me.jpg);
  background-color: map-get(map-get($background, on-primary), 75);
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    background-position: right;
  }

  .container-left {
    width: 33vw;
    border-right: 2px solid map-get(map-get($background, primary), 100);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;

    @media (max-width: 1024px) {
      border-right: none;
      margin: 4rem 0 2rem 0;
      width: 100%;
    }

    h3 {
      font-family: 'Gilroy-Bold';
      color: map-get(map-get($text-color, on-primary), 100);
      font-size: 1.5rem;
      text-shadow: 0 0 11px map-get(map-get($background, on-primary), 50);
      margin: 0.5rem 0 1rem 0;

      @media (max-width: 512px) {
        width: 64vw;
        margin: 0.5rem 0 1rem 0;
      }
    }

    .container-image {
      padding: 0 0 0.025rem 0.25rem;
      opacity: 98%;
      background-color: map-get(map-get($background, secondary), 100);
      box-shadow: 0 0 32px map-get(map-get($background, on-primary), 25);

      @media (min-width: 1024px) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23F5CC00' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23f3ca00' href='%23s' y='2'/%3E%3Cuse fill='%23f3ca00' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f0c800' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f0c800' href='%23s'/%3E%3Cuse fill='%23eec600' href='%23s' x='2'/%3E%3Cuse fill='%23eec600' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebc400'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebc400'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23e8c200'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F5CC00'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e6bf00'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23CCA000'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23CCA000'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23CCA000'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
        animation: rainLevitatingEffect 256s infinite alternate;
      }

      img {
        height: 36vh;

        @media (max-width: 1024px) {
          height: auto;
          width: 64vw;
          max-width: 320px;
        }
      }
    }
    .container-social-icons {
      margin: 1rem 0 1rem 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;

      a {
        margin: 0 6%;
        border: none;
        width: 3rem;
        height: 3rem;
        background-color: map-get(map-get($background, on-tertiary), 100);
        box-shadow: 0 0 11px map-get(map-get($background, on-primary), 50);
        overflow: hidden;

        &:hover {
          background-color: map-get(map-get($background, on-secondary), 100);
        }

        img {
          width: 3rem;
          height: 3rem;
          transform: rotate(0) scale(1);
          transition: transform 0.4s;

          &:hover {
            transform: rotate(8deg) scale(1.2);
            transition: transform 0.2s;
          }
        }
      }
    }
  }
  .container-right {
    background-color: map-get(map-get($background, on-primary), 75);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 67vw;

    @media (max-width: 1024px) {
      width: 100%;
    }

    .container-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      border-top: 4px solid map-get(map-get($background, secondary), 100);
      margin-left: 8%;
      margin-right: 16%;

      @media (max-width: 1024px) {
        margin: 0 1rem;
      }

      h1 {
        font-family: 'Gilroy-SemiBold';
        color: map-get(map-get($text-color, on-primary), 100);
        font-size: 2rem;
        text-shadow: 0 0 11px map-get(map-get($background, on-primary), 100);

        @media (max-width: 1024px) {
          text-align: center;
        }
      }

      p {
        color: map-get(map-get($text-color, on-primary), 75);
        font-family: 'Gilroy-SemiBold';
        margin: 0.5rem 0;
        font-size: 1rem;
        text-shadow: 0 0 11px map-get(map-get($background, on-primary), 100);

        @media (max-width: 1024px) {
          margin: 0.5rem 0;
        }
      }
      .container-contact-button {
        user-select: none;
        width: 100%;

        @media (max-width: 1024px) {
          width: 100%;
          display: flex;
          justify-content: center;
          pointer-events: none;
        }

        .contact-button {
          pointer-events: initial;
          font-family: 'Gilroy-Bold';
          display: inline-block;
          text-align: center;
          padding: 8px 16px;
          margin-top: 2rem;
          font-size: 1rem;
          background-color: map-get(map-get($background, secondary), 100);
          border-top: 2px solid map-get(map-get($background, secondary), 100);
          border-bottom: 2px solid map-get(map-get($background, secondary), 100);
          box-shadow: 0 0 32px map-get(map-get($background, on-primary), 25);
          cursor: pointer;
          transition: background-color 0.4s, color 0.4s, border 0.4s;

          @media (max-width: 1024px) {
            margin: 2rem 4% 3rem 0;
          }

          &:hover {
            color: map-get(map-get($background, secondary), 100);
            background-color: map-get($background, transparent);
            border-top: 2px solid map-get(map-get($background, secondary), 100);
            border-bottom: 2px solid
              map-get(map-get($background, secondary), 100);
            transition: background-color 0.2s, color 0.2s, border 0.2s;
          }
        }

        .pdf-button {
          pointer-events: initial;
          font-family: 'Gilroy-Bold';
          display: inline-block;
          text-align: center;
          padding: 8px 16px;
          margin-top: 2rem;
          margin-left: 8%;
          font-size: 1rem;
          background-color: map-get(map-get($background, tertiary), 100);
          color: map-get(map-get($text-color, on-primary), 100);
          border-top: 2px solid map-get(map-get($background, tertiary), 100);
          border-bottom: 2px solid map-get(map-get($background, tertiary), 100);
          box-shadow: 0 0 32px map-get(map-get($background, on-primary), 25);
          cursor: pointer;
          transition: background-color 0.4s, color 0.4s, border 0.4s;

          @media (max-width: 1024px) {
            margin: 2rem 0 3rem 4%;
          }

          &:hover {
            color: map-get(map-get($background, tertiary), 100);
            background-color: map-get($background, transparent);
            border-top: 2px solid map-get(map-get($background, tertiary), 100);
            border-bottom: 2px solid
              map-get(map-get($background, tertiary), 100);
            transition: background-color 0.2s, color 0.2s, border 0.2s;
          }
        }
      }
    }
  }
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 11;

  &.contact-button {
    transform: scale(1);

    .modal-background {
      background-color: map-get($background, transparent);
      animation: modalFadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

      .modal {
        transform: translateX(-1500px);
        animation: modalRoadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1)
          forwards;
      }
    }

    &.out {
      animation: modalQuickScaleDown 0s 0.5s linear forwards;

      .modal-background {
        animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

        .modal {
          animation: modalRoadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
            forwards;
        }
      }
    }
  }

  .modal-background {
    display: table-cell;
    background: map-get(map-get($background, on-primary), 75);
    text-align: center;
    vertical-align: middle;
    z-index: 0;

    .modal {
      background: map-get(map-get($background, primary), 100);
      padding: 1rem 2rem;
      margin: 0 2rem;
      display: inline-block;
      position: relative;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../../assets/backgrounds/bg_contact_form.png);
        background-position: center;
        background-size: cover;
        filter: opacity(8%);
        z-index: -1;
      }

      @media (min-width: 512px) {
        width: 350px;
      }
    }
  }
}
